
.language {
    display: inline;
  }
  .heading {
    font-size: 20px;
  }
  #source {
    width: 100% !important;
    background: #cccccc52;
    height: 50vh;
    font-size: 15px;
    resize: vertical;
  }
  #input {
    background: #cccccc52;
    width: 45.6%;
    height: 17vh;
    resize: vertical;
    font-size: 17px;
  }
  #output {
    background: #cccccc52;
    width: 40%;
    height: 60%;
    position: fixed;
    top: 17.6%;
    font-size: 18px;
    right: 0;
    margin-right: 3%;
  }
  .language {
    width: 150px;
  }